    * {
        font-family: "playball";
        margin: 0;
        padding: 0;
    }
    
    body,
    html {
        height: 100%;
    }
    
    body {
        text-align: center;
    }
    
    .main {
        max-width: 1280px;
        min-height: 100%;
        margin: 0 auto;
        position: relative;
    }
    
    .row-cols-md-2 {
        display: flex;
        justify-content: center;
        padding-top: 10rem;
    }
    
    .footer {
        background: #ccc;
        position: absolute;
        width: 100%;
        padding-top: 50px;
        height: 50px;
    }
    
    .tx-text-center {
        padding-bottom: 10%;
        font-size: medium;
    }
    
    .h2.p {
        font-family: "playball";
        display: flex;
        font-size: 25px;
        font-weight: 900;
    }
    
    .card-img-top {
        object-fit: cover;
    }
    
    .somme-total {
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        font-size: medium;
    }
    
    .total {
        font-size: medium;
    }
    
    .card {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }
    
    .card-body {
        margin-left: 2rem;
    }
    
    .col {
        padding-bottom: 2rem;
    }
    /*---------------page panier--------------------*/
    
    .products-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 650px;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 50px;
        padding-bottom: 100px;
    }
    
    .product-header {
        width: 100%;
        max-width: 650px;
        display: flex;
        justify-content: flex-start;
        border-bottom: 4px solid lightgrey;
        margin: 0 auto;
        padding-top: 60px;
    }
    
    .price {
        display: flex;
        align-items: center;
    }
    
    .text-confirmation {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid lightgrey;
        padding-top: 25%;
    }
    
    .total.somme-total {
        align-items: center;
        font-size: medium;
    }
    
    .product {
        width: 45%;
    }
    
    .card-mb-3 {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    /*---------------------formulaire--------------------*/
    
    .cart-card__form {
        display: flex;
        justify-content: center;
        padding-top: 10rem;
    }
    /*--bouton--*/
    
    #btn-supprimer {
        background-color: red;
        border: transparent;
    }
    
    #btn-envoyer {
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        border: 2px transparent solid;
        /* Green */
        font-size: 13px;
    }
    
    #btn-envoyer:hover {
        background-color: #4CAF50;
        /* Green */
        color: white;
        font-size: 13px;
    }
    
    @media (min-width: 1025px) {
        .h-custom {
            height: 100vh !important;
        }
    }